body {
	background-image: url(images/background_pattern.png);
}
#container #navfull {
	background-image: url(images/header_backround.png);
	position: absolute;
	height: 124px;
	width: 1366px;
	left: 0px;
	top: 0px;
	
}
#container #header {
	background-image: url(images/header_backround.png);
	position: fixed;
	height: 80px;
	width: 1366px;
	left: 0px;
	top: 0px;
	z-index: 2;
}
#container #header #top_logo {
	position: absolute;
	height: 80px;
	width: 254px;
	left: 74px;
	top: 24px;
}

#container #header #nav_bar ul li {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: large;
	color: #FFF;
}
#container #header #nav_bar ul {
	position: absolute;
	left: 444px;
	top: 35px;
}

#container #header #nav_bar ul {
	list-style-type: none;
}
#container #header #nav_bar ul li {
	display: inline;
	padding-right: 40px;
}
#container #header #nav_bar ul li a {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: x-large;
	color: #FFF;
	text-decoration: none;
}
#container #main #main_image img {
	position: absolute;
	height: 683px;
	width: 1366px;
	left: 0px;
	top: 124px;
}
#container #main #main_logo img {
	position: absolute;
	height: 158px;
	width: 445px;
	left: 500px;
	top: 553px;
}
#container #main #welcome {
	height: 328px;
	width: 702px;
	padding-top: 849px;
	padding-left: 74px;
	position: absolute;
	bottom: auto;
}
#container #main #welcome h1 {
	font-family: Pacifico;
	font-size: xx-large;
	color: #1a7d4d;
}
#container #main #welcome p {
	font-family: "Open Sans";
	font-size: large;
	color: #FFF;
}
#container #main #video_gallery {
	height: 378px;
	width: 434px;
	padding-top: 849px;
	padding-left: 877px;
	bottom: auto;
}
#container #main #video_gallery h1 {
	font-family: Pacifico;
	font-size: xx-large;
	color: #1a7d4d;
}
#container #footer_border {
	background-color: #1a7d4d;
	position: absolute;
	height: 15px;
	width: 1366px;
	left: 0px;
	top: 1377px;
}
#container #footer {
	background-image: url(images/header_backround.png);
	position: absolute;
	height: 105px;
	width: 1366px;
	left: 0px;
	top: 1389px;
}

#container #footer #subscribe img {
	position: absolute;
	height: 70px;
	width: 310px;
	left: 71px;
	top: 15px;
}
#container #footer #follow_me {
	height: 95px;
	width: 367px;
	top: 10px;
	left: 1120px;
	position: absolute;
}
